# VCS
.git
.gitignore

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info
.dist
.build

# Local envs and caches
.env
.venv
venv/
.cache/
pytest_cache/
.mypy_cache/

# Local data
*.db
cache/
data/

# misc
compose.yml
Dockerfile
.dockerignore
README.md
